body{
background-image:url("img/bg.png");
font-family:Georgia,serif;}
header{
display:flex;
align-items:center;}
.pnr{
display:flex;
align-items:center;}
.nav{
margin-bottom:1em;
width:100%}
.ul{list-style:none;}
.ul li a{margin-right:1em;}
.pnr h1{margin-left:0.5em;}
.nav :hover{
background-color:#05050524;
border-radius:1.5em;}
li a{
float:left;
padding:0.6em;
font-size:1.2em;
line-height:1.6em;
border-radius:0.6em;
color:#00936f;
text-decoration:none;}
li a img{margin-right:0.5em;}
li.active a{
background-color:#df41f157;
border-radius:1.5em;
color:white;}
footer{
position:fixed;
left:0;
bottom:0;
width:100%;
text-align:center;
padding:0.3em;}
header h1 a{
color:#00936f;
text-decoration:none;}