body {
	background-image: url("img/bg.png");
	background-position : 0 0;
    background-repeat: repeat;
    font-family: Georgia, serif;
}
header {
    display: flex;
}
.pnr {
    display: flex;
    align-items: center;
}
.pnr h1 {
    margin-left: 10px;
}
.navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.nav-left, .nav-right {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-left li {
    margin-right: 20px;
}
.pnr h1 {
    margin-left: 10px;
}
.nav-right {
      margin-left: auto;
}
.navigation li:hover {
    background-color: #e6e6e6;
	border-radius: 10px;
}
.navigation a {
	float: left;
	padding: 12px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 10px;
	color: #00936f;
	text-decoration: none;
	display : flex;
}
.icon {
	margin-right: 10px;
}
.navigation li.active {
    background-color: #eab7f0;
	border-radius: 10px;
}
.navigation li.active a {
	color:white;
}
.pnr img {
    max-width: 60px;
    float: left;
    margin-right: 10px;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 5px;
}
a[href]:not([class]) {
    color: #00936f;
    text-decoration: none;
}