body{
	background-image: url("img/bg.png");
    font-family: Georgia, serif;
}
header{
    display: flex;
}
.pnr{
    display: flex;
    align-items: center;
}
.navigation{
    display: flex;
    width: 100%;
    align-items: center;
	flex-wrap: nowrap;
    overflow-x: auto;
}
.nav-left, .nav-right{
	display: contents;
	list-style: none;
}
.nav-left li{
    margin-right: 1.3em;
}
.pnr h1{
    margin-left: 0.5em;
}
.navigation li:hover{
    background-color: #e6e6e6;
	border-radius: 1.5em;
}
.navigation a{
	float: left;
	padding: 0.6em;
    font-size: 1.2em;
    line-height: 1.6em;
    border-radius: 0.6em;
	color: #00936f;
	text-decoration: none;
	display: flex;
	text-align: center;
	align-items : center;
}
.icon{
	margin-right: 0.6em;
}
.navigation li.active{
    background-color: #eab7f0;
	border-radius: 1.5em;
}
.navigation li.active a{
	color:white;
}
.pnr img{
    max-width: 4em;
}
footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 0.3em;
}
a[href]:not([class]){
    color: #00936f;
    text-decoration: none;
}